@import 'globalStyles/App.scss';

.contentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 80vh;
  .content {
    width: 90vw;
    min-height: 80vh;
    @include xl {
      height: 500px;
      width: 70vw;
    }
  }
}
